<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pc_magas.vodafone_fu_h300s">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VfuH300s"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"

        >
        <activity android:name=".screens.LicenceActivity"    android:screenOrientation="portrait" ></activity>
        <activity android:name=".screens.DisplaySettingsActivity"    android:screenOrientation="portrait" />
        <activity android:name=".screens.ConnectIntoRouterActivity"    android:screenOrientation="portrait" />
        <activity android:name=".screens.InstructionsActivity"    android:screenOrientation="portrait" />
        <activity android:name=".screens.MainScreen"    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>